<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Hall of Fame - Andela</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  </head>
  <body>
    <header>
      <nav class="blue darken-3" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo">
            <i class="left"><img src="http://lv.andela.com/images/logo-white.png" style="height: 60px;"/></i>
            <span style="padding-left: 50px;">Hall of Fame</span>
          </a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#">Fellow Staff</a></li>
            <li><a href="#">Logout</a></li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    </header>
    <section>
      <div class="container">
        <div class="row">
          <div class="col m3" style="font-size: 10px;">
            <ul class="collection">
              <li class="collection-item avatar">
                <img src="http://materializecss.com/images/yuna.jpg" alt="fellow_staff" class="circle">
                <span class="title" style="font-size: 12px; font-weight: bold;">Fellow Staff Name</span>
                <p>Cohort No, Region.<br>
                   Role/Contribution
                </p>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title" style="font-size: 12px; font-weight: bold;">James Lemayian</span>
                <p>Cohort 20, Nairobi, Kenya.<br>
                   Software Developer
                </p>
              </li>
            </ul>
          </div>
          <div class="col m9">
          <div class="card">
            <div class="card-image">
              <img src="https://avatars.slack-edge.com/2017-08-04/222225595731_af6a855bf6754f7c736e_1024.png">
              <span class="card-title">Fellow Staff</span>
            </div>
            <div class="card-content">
              <p class="interesting_things">
                This is what I blah blah blah... Donec sollicitudin molestie malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur aliquet quam id dui posuere blandit. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor eget felis porttitor volutpat. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla porttitor accumsan tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
              </p>
              <br>
              <p class="hobbies">
                <strong>Interests: </strong>I love playing football and hanging out with my friends. Adventure and reading novels.
              </p>
            </div>
            <div class="card-action blue-text">
              <a href="#">Chat on Slack</a>
              <a href="#">Request for Mentorship</a>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="page-footer white">
      <div class="container">
      </div>
      <div class="footer-copyright">
        <div class="container black-text">
        Hack4Culture: <a class="blue-text" href="http://andela.com">This is Andela!</a>
        </div>
      </div>
    </footer>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> 
  </body>
</html>
