<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Hall of Fame - Andela</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  </head>
  <body>
    <header>
      <nav class="blue darken-3" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo">
            <i class="left"><img src="http://lv.andela.com/images/logo-white.png" style="height: 60px;"/></i>
            <span style="padding-left: 50px;">Hall of Fame</span>
          </a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#">LoggedIn Fellow</a></li>
            <li><a href="#">Logout</a></li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    </header>
    <section>
      
    </section>
    <footer class="page-footer white">
      <div class="container">
      </div>
      <div class="footer-copyright">
        <div class="container black-text">
        Hack4Culture: <a class="blue-text" href="http://andela.com">This is Andela!</a>
        </div>
      </div>
    </footer>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> 
  </body>
</html>
