{% extends "base.html" %}
{% block andelans_list %}
{% for andelan in andelans %}
<li class="collection-item avatar">
<a href="/dashboard/{{ andelan.email }}" class="black-text">
  <img src="{{ andelan.image_url }}" alt="fellow_staff" class="circle">
  <span class="title" style="font-size: 12px; font-weight: bold;">
  {% if andelan.firstname %}
  {{ andelan.firstname + " " +andelan.lastname }}
  {% else %}
  {{ andelan.slack_username }}
  {% endif %}
  </span>
  <p>{{ andelan.cohort }}<br>
     Software Developer
  </p>
</a>
</li>
{% endfor %}
{% endblock %}
{% block selected_profile %}
<div class="card">
	<div class="card-image">
	  <img src="{{ andelan.image_url }}">
	  <span class="card-title">
	  	{% if andelan.firstname %}
	  	{{ andelan.firstname + " " + andelan.lastname + " - Software Developer" }}
	  	{% else %}
	  	{{ andelan.slack_username + " - Software Developer"}}
	  	{% endif %}
	  </span>
	</div>
	<div class="card-content">
	  <p class="interesting_things">
	    {{ profile.interesting_things }}
	  </p>
	  <br>
	  <p class="hobbies">
	    <strong>Hobbies: </strong>
	    {{ profile.hobbies }}
	  </p>
	</div>
	<div class="card-action blue-text">
	  <a href="https://andela.slack.com/messages/@{{andelan.slack_username}}/" target="_blank">Chat on Slack</a>
	</div>
</div>
{% endblock %}